 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                    <p>Tenho 26 anos, nasci na cidade de Araras e hoje moro em Indaiatuba, ambas cidades ficam no interior do Estado de São Paulo. Trabalho como Front-End desde 2010.
                    <br>
                    Tenho experiencia em HTML, CSS (less, sass e stylus), JS, MVC, GIT.</p>
                </div>
                <div class="col-lg-3">
                    <p>Atualmente trabalho no <a href="https://www.iobconcursos.com/" target="_blank">IOB Concursos</a>, um e-commerce de cursos online para concursos públicos. Desde 2010 já desenvolvi e prestei serviços para diversos clientes, sejam eles em agências/empresas ou trabalhando como freelancer.</p>
                </div>
                <div class="col-lg-4">
                    <p>Graduado em Ciência da Computação, busco novos conhecimentos e treinamentos a cada dia na área, sou apaixonado por web e novas tecnologias.</p>
                </div>
            </div>
        </div>
    </section>