---
layout: default
title: About Felipe Trova
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/vincent.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Felipe Trova</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              Front-End Developer
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <p>Me chamo Felipe Rodrigo Trova, tenho 26 anos, sou natural de Araras/SP e desde os 18 moro em Indaiatuba/SP. Trabalho há cerca de 4 anos na área web e encerrei minha graduação em Ciência da Computação no ano de 2013.</p>
        
        <p>Atualmente sou desenvolvedor front-end na <a href="http://www.iobconcursos.com" target="_blank" title="IOB Concursos"><i>IOB Concursos</i></a>. Acho a web como um todo, e o que podemos aprender e criar com ela fantástica, e isso me deixa cada vez mais interessado e 'instigado' em continuar nessa trilha</p>
        
        <h4>Conhecimentos</h4>
        <ul>
          <li>HTML</li>
          <li>CSS (Sass, Stylus, Less)</li>
          <li>CSS Frameworks (Bootstrap, Foundation)</li>
          <li>RWD (Responsive Web Design)</li>
          <li>UX</li>
          <li>Javascript</li>
          <li>AngularJS</li>
          <li>Grunt / Gulp</li>
          <li>Git</li>
          <li>PHP</li>
          <li>MVC CodeIgniter</li>
          <li>MySQL</li>
          <li>Scrum</li>
        </ul>

        <p>
          Prometo atualizar essa bagaça sempre que puder :P
        </p>

        <p>Me <a href="http://twitter.com/{{ site.author.twitter }}" title="Pay me a beer :)" target="_blank">pague</a> uma cerveja :) </p>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
